/* 
**********************************************************************************
 media Query 
**********************************************************************************
*/
@media screen and (max-width: 1800px) {

    /* Top Style Section */
    .top-style-sec .custom-prev {
        left: -12px;
    }

    .top-style-sec .custom-next {
        right: -12px;
    }
}

@media screen and (max-width: 1600px) {

    /* Header Section */
    .navbar-collapsed .nav-item {
        margin-right: 15px;
    }

    .nav-last-child {
        margin: 0 !important;
    }

    .navbar-collapsed .nav-link {
        font-size: 12px;
    }

    /* Luxury Section */
    .luxury-content .title_2 {
        max-width: 681px;
        font-size: 55px;
        font-weight: 300;
        margin: 4px 0 30px;
        font-family: var(--heading);
        color: var(--light-color);
    }
}


@media screen and (max-width: 1200px) {

    /* Header Section */
    .nav-logo a {
        width: 70px;
    }

    .navbar-collapsed {
        position: fixed;
        top: 0px;
        left: -100%;
        /* background: rgba(0, 0, 0, 0.5); */
        /* backdrop-filter: blur(80px); */
        background: linear-gradient(to right, rgba(0, 0, 0, 0.816), rgba(0, 0, 0, 0.1)), url(../img/navbar-collapsed-bg-01.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        width: 90%;
        transition: 0.3s ease-in;
        padding-top: 86px;
        padding-left: 85px;
    }

    .navbar-collapsed.active {
        left: 0%;
    }

    .navbar-collapsed ul {
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }

    .navbar-collapsed .nav-link {
        color: var(--light-color);
        font-size: 18px;
    }

    .navbar-collapsed .nav-item {
        margin-right: 0px;
    }

    .nav-btn {
        display: inline-block;
        width: 30px;
        height: 2px;
        background: var(--primary-color);
    }

    .nav-menu {
        position: relative;
        z-index: 99;
        transition: 0.3s linear;
    }

    .nav-menu::before {
        content: "";
        width: 30px;
        height: 2px;
        background: var(--primary-color);
        position: absolute;
        bottom: -4px;
        left: 0;
        transition: 0.5s linear;
    }

    .nav-menu::after {
        content: "";
        width: 30px;
        height: 2px;
        background: var(--primary-color);
        position: absolute;
        top: 5px;
        left: 0;
        transition: 0.5s linear;
    }

    .nav-menu.active .nav-btn {
        opacity: 0;
    }

    .nav-menu.active::after {
        transform: translate(0, 2px) rotate(45deg);
        background: var(--light-color);
    }

    .nav-menu.active::before {
        transform: translate(0, -10px) rotate(-45deg);
        background: var(--light-color);
    }

    .middle-bar {
        margin-bottom: 0px !important;
    }

    .search-bar img {
        display: none !important;
    }

    .search-bar input {
        display: none;
    }

    .user-sec {
        gap: 10px;
    }

    .sm-search-bar {
        display: inline-flex;
        width: 80%;
        border: 1px solid #ffffff;
        margin: 0 auto;
        padding: 10px 12px;
        border-radius: 10px;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
    }

    .sm-search-bar input {
        background: transparent;
        border: none;
        outline: none;
        width: 90%;
        color: var(--light-color);
    }

    .sm-search-bar i {
        color: var(--light-color);
        flex-shrink: 0;
    }

    .sm-search-bar ::placeholder {
        color: var(--light-color);
    }

    /* Product Category section */
    .product-sec .category-card .title_3 {
        font-size: 22px;
    }

    /* Luxury Section */
    .luxury-content {
        padding: 100px 0 80px 50px;
    }

    /* For Every You Section */
    .for-every-card .for-every-img {
        height: 450px;
    }

    /* Review Section */
    .review-text .title_2 {
        font-size: 40px;
    }

    .review-text p {
        font-size: 16px;
    }

    /* Customizable Section */
    .customizable-content .title_2 {
        font-size: 40px;
    }

    .customizable-content p {
        font-size: 16px;
    }

    .primary-btn {
        font-size: 16px;
    }
}


@media screen and (max-width: 992px) {

    /* Hero Section */
    .title_1 {
        max-width: 600%;
        font-size: 55px;
    }

    .hero-sec {
        min-height: 70vh;
        padding: 200px 0 100px;
        background: url(../img/banner-bg-01.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .hero-content p {
        max-width: 600px;
        margin: 20px 0 30px;
        font-size: 18px;
        font-weight: 400;
        color: var(--light-color);
        line-height: calc(28/18);
        font-family: var(--body);
    }

    /* Product Category section */
    .product-sec .title_2 {
        font-size: 40px;
    }

    /* Top Style Section */
    .top-style-sec .title_2 {
        font-size: 40px;
    }

    .top-style-sec .custom-prev,
    .top-style-sec .custom-next {
        width: 40px;
        height: 45px;
        /* display: flex; */
        /* align-items: center; */
        /* justify-content: center; */
    }

    .top-style-sec .custom-prev img,
    .top-style-sec .custom-next img {
        width: 20px;
    }

    /* Gift Section */
    .gift-sec .heading .title_2 {
        font-size: 40px;
    }

    /* Luxury Section */
    .luxury-content .title_2 {
        font-size: 40px;
    }

    /* For Every You Section */
    .for-every-you .custom-prev {
        left: 20%;
    }

    .for-every-you .custom-next {
        right: 20%;
    }

    /* Customizable Section */
    .customizable-wrapper {
        padding: 80px 0;
    }

    .customizable-content {
        padding-left: 30px;
    }

    .customizable-content {
        max-width: 90%;
    }

    .customizable-img {
        max-height: 450px;
    }

}


@media screen and (max-width: 768px) {

    /* Navbar */
    .user-sec img {
        width: 20px;
        height: 20px;
        object-fit: contain;
    }

    /* Usp-bar Section */
    .usp-sec {
        padding: 12px 0;
    }

    .usp-sec .companySwiper h3 {
        font-size: 14px;
    }

    .usp-sec .swiper-slide h3::after {
        width: 15px;
        height: 15px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

    }

    /* Gift Section */
    .gift-content .title_2 {
        font-size: 28px;
    }

    .gift-content .primary-btn {
        font-size: 10px;
        padding: 10px 20px;
    }

    /* Sale Section */
    .sale-content .title_3 {
        font-size: 50px;
    }

    .day p:first-child,
    .hours p:first-child,
    .minutes p:first-child {
        color: var(--light-color);
        font-size: 50px;
    }

    /* Disable hover effect */
    .sale-img:hover::after {
        animation: none;
    }


    /* Enable auto shine */
    .sale-img::after {
        animation: shine 1.2s linear infinite;
    }

    /* For Every You Section */
    .for-every-you .custom-prev {
        left: 0%;
    }

    .for-every-you .custom-next {
        right: 0%;
    }
}

@media screen and (max-width: 576px) {

    /* Top-bar */
    .top-bar {
        padding: 12px 0;
        font-size: 10px;
    }

    /* Navbar */
    .nav-logo a {
        width: 56px;
    }

    /* Hero Section */
    .hero-sec .hero-btn {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 80%;
        text-align: center;
    }

    .hero-sec .primary-btn {
        font-size: 14px;
        margin: 0;
    }

    .title_1 {
        font-size: 45px;
    }

    /* Product Category section */
    .product-sec .title_2 {
        font-size: 30px;
    }

    /* Top Style Section */
    .top-style-sec .title_2 {
        font-size: 30px;
    }

    .top-style-img {
        max-width: 100%;
    }

    /* Gift Section */
    .gift-sec .heading .title_2 {
        font-size: 30px;
    }

    /* Luxury Section */
    .luxury-content .title_2 {
        max-width: 100%;
        font-size: 30px;
    }

    .luxury-content p {
        max-width: 80%;
        font-size: 15px;
    }

    .luxury-content {
        padding: 50px 0 80px 50px;
    }

    /* For Every You Section */
    .for-every-you .heading .title_2 {
        font-size: 35px;
    }

    /* Customizable Section */
    .customizable-wrapper {
        padding: 40px 0;
    }

    .customizable-content .title_2 {
        font-size: 30px;
    }

    .customizable-content p {
        font-size: 12px;
    }

    .customizable-content .primary-btn {
        font-size: 14px;
    }

}


@media screen and (max-width: 480px) {

    /* Product Category section */
    .product-sec .title_2 {
        text-align: center;
    }

    .category-card {
        text-align: center;
    }

    .top-style-sec .title_2 {
        text-align: center;
    }

    /* Gift Section */
    .gift-sec .heading .title_2 {
        text-align: center;
    }

    /* Luxury Section */
    .luxury-content .title_2 {
        max-width: 100%;
        font-size: 25px;
    }

    .luxury-content p {
        max-width: 90%;
        font-size: 12px;
    }

    .luxury-content {
        padding: 50px 0 50px 20px;
    }

    .luxury-content .primary-btn {
        padding: 12px 24px;
        font-size: 12px;
    }

    /* Sale Section */
    .sale-content .title_3 {
        font-size: 40px;
    }

    .sale-content p {
        font-size: 15px;
    }

    .sale-content .primary-btn {
        padding: 12px 24px;
        font-size: 15px;
    }

    .day p:first-child,
    .hours p:first-child,
    .minutes p:first-child {
        font-size: 35px;
    }

    /* For Every You Section */
    .for-every-you .heading .title_2 {
        text-align: center;
    }

    .for-every-content .title_3 {
        font-size: 35px;
    }

    /* Review Section */
    .review-text .title_2 {
        font-size: 35px;
    }

    .reviewSwiper .custom-prev,
    .reviewSwiper .custom-next {
        width: 44px;
        height: 44px;
    }

    .reviewSwiper .custom-prev img,
    .reviewSwiper .custom-next img {
        width: 20px;
    }

    .review-text p {
        font-size: 14px;
        margin: 15px auto;
    }

    .review-text .title_3 {
        font-size: 25px;
    }
}

@media screen and (max-width: 420px) {

    /* Hero Section */
    .title_1 {
        font-size: 30px;
    }

    .hero-content p {
        font-size: 16px;
    }

    /* Product Category section */
    .product-sec .title_2 {
        font-size: 27px;
    }

    .top-style-sec .title_2 {
        font-size: 30px;
    }

    /* Gift Section */
    .gift-sec .heading .title_2 {
        font-size: 25px;
    }

    /* Sale Section */
    .sale-wrapper {
        padding: 40px 18px 70px;
    }

    .sale-content .title_3 {
        font-size: 28px;
    }

    .sale-content p {
        margin: 14px 0;
        font-size: 12px;
    }

    .sale-content .primary-btn {
        padding: 9px 18px;
        font-size: 15px;
    }

    .day p:first-child,
    .hours p:first-child,
    .minutes p:first-child {
        font-size: 30px;
    }

    .day p:nth-child(2),
    .hours p:nth-child(2),
    .minutes p:nth-child(2) {
        font-size: 16px;
    }

    .sale-row {
        --bs-gutter-x: 0.5rem;
        --bs-gutter-y: 0.5rem;
    }

    /* For Every You Section */
    .for-every-you .heading .title_2 {
        font-size: 28px;
    }

    .for-every-you .center-btn {
        z-index: 10;
        width: 48px;
        height: 50px;
    }

    .for-every-you .center-btn img {
        width: 10px;
    }

    .for-every-card .for-every-img {
        height: 340px;
    }

    .for-every-content .title_3 {
        font-size: 30px;
    }

    /* Customizable Section */
    .customizable-content .title_2 {
        font-size: 28px;
    }

    .customizable-content .title_2 {
        color: var(--light-color);
        margin: 4px 0 16px;
    }

    .customizable-content .primary-btn {
        font-size: 12px;
        padding: 15px 30px;
    }
}